#fundo_dashboard {
  height: 100vh;
  background-image: url(../../images/90.png);
}

#barra_lateral {
  width: 250px;
  height: 92vh;
  background-color: #1e0f24;
  opacity: 80%;
  padding-top: 50px;
}
#elements {
  display: flex;
}
