#barra_lateral .botoes_barra {
  height: 70px;
  font-family: "Open Sans";
  background-color: #1e0f24;
  color: white;
  border: none;
}
#barra_lateral .botoes_barra:hover {
  background-color: #331343;
}
#barra_lateral .botoes_barra + .botoes_barra {
  border-top: 1px solid white;
  /* margin-bottom: 20px; */
}

#barra_lateral .botoes_barra {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

#barra_lateral .botoes_barra:hover {
  cursor: pointer;
}
