#elements h1 {
  color: white;
  font-size: 100px;
  padding-left: 40px;
  padding-top: 40px;
  opacity: 90%;
}

#list {
  padding: 0rem 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin-top: 40px;
  margin-left: 80px;
  height: 50vh;
  overflow-y: auto;
  width: 70vw;
}

.item-list {
  height: 50px;
  background-color: black;
  opacity: 60%;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}

.musica-artista:hover {
  text-decoration: underline;
  cursor: pointer;
}

::-webkit-scrollbar {
  background-color: transparent;
}
