header {
  height: 8vh;
  box-shadow: 0.1em 0.1em 0.05em #1e0f24;
}

#header {
  width: 100%;
  background-color: #1e0f24;
  opacity: 80%;
  display: flex;
  justify-content: space-between;
}

#header h1 {
  font-family: "Vollkorn";
  color: white;
  font-size: 50px;
  padding-top: 10px;
  cursor: default;
  margin-left: 60px;
}

#avatar {
  margin-right: 30px;
  margin-top: 10px;
}

.search {
  height: 30px;
  background-color: white;
  opacity: 60%;
  margin-top: 20px;
  display: flex;
}

.search .icon {
  margin-left: 10px;
  margin-top: 3px;
  width: 20px;
}

.search .close-icon {
  margin-right: 10px;
  margin-top: 3px;
  width: 20px;
}
.search .close-icon:hover {
  cursor: pointer;
}
.search input {
  width: 500px;
  background-color: transparent;
  border: none;
  margin-left: 10px;
}
#avatar:hover {
  cursor: pointer;
}
#configuracoes {
  position: absolute;
  width: 250px;
  height: 120px;
  left: 1174px;
  background-color: #1e0f24;
  opacity: 80%;
}

#configuracoes .user {
  padding-top: 20px;
  margin-left: 10px;
  font-size: 25px;
  color: white;
}

#configuracoes .logout {
  margin-left: 10px;
  font-size: 16px;
  color: white;
}
#configuracoes .logout:hover {
  text-decoration: underline;
  cursor: pointer;
}
#configuracoes .playlists {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  color: white;
}
#configuracoes .playlists:hover {
  text-decoration: underline;
  cursor: pointer;
}
